*{
    padding: 0px;
    margin: 0px;
    font-size:20px;
}
.Primeiro{
    /* 
    padding-top: 10%;
    padding-right: 20;
    padding-bottom: 30; 
    padding-left: 40; 
    mesma coisa padding: 10px 20px 30px 40px;
    border doted
     */
    padding: 10px 20px 30px 40px;/* unica declaracao */
    
}
.segundo{
    border: solid 10px red;
    padding:15px ;

    margin:10px 20px 30px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px; 
    margin-left: 40px;
}