@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
#container{
    display: grid;
    height: 800px;
    width: 800px;
    margin: 25px auto;
    border: solid 3px purple;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas:  
    "caixa1 caixa1 caixa1"
    "caixa2 caixa2 caixa2"
    "caixa3 caixa3 caixa3";
    column-gap: 15px;
    row-gap: 30px;
    
}
.caixa1{
    background-color: darkgoldenrod;
    grid-area: caixa1;
}
.caixa2{
    background-color:crimson;
    grid-area: caixa2;
}
.caixa3{
    background-color:  darkseagreen;
    grid-area: caixa3;
}