div{
    height: 250px;
    width: 250px;
    border: dotted 3px ;
    margin: 0,5em;
}
.caixa1{
    /* border-color: blueviolet ; */
    box-sizing: content-box;
    font-size: 2em;
    padding: 30px;
    border: dotted 10px rgb(51, 0, 255);
}
.caixa2{
    /* border-color: blueviolet ; */
    box-sizing: border-box;
    font-size: 2em;
    padding: 30px;
    border: dotted 10px rgb(250, 0, 0);
}